body {
  margin: 0;
  background-color: whitesmoke;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme img {
  width: 100%;
}

.meme .bottom {
  bottom: 0;
}

.meme .top {
  top: 0;
}

.meme h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-size: 2em;
  color: white;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
